* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
}
.mySlides {display:none}
 /* Gaya kustom untuk navbar */
 .navbar {
  z-index: 2;
  display: flex;
  padding: 2% 2%;
  justify-content: space-between;
  align-items: left;

}
.navbar-brand img {
  width: 70px; /* Lebar logo */
  border-radius: 50%;
}
.navbar-toggler-icon {
  color: #b9b0b0; /* Warna ikon toggle */
}
.navbar-nav .nav-link {
  color: #9e9292; /* Warna teks link navbar */
  flex-wrap: 1;
  text-align: right;
}
.navbar-nav .nav-link:hover {
  color: #ffcc00; /* Warna teks link navbar saat hover */
}

/* Banner */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../img/smk9.jpg");
  background-position: center;
  background-size: cover;
  position: relative
}

/* Navbar */
/* nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
} */

/* nav img {
  width: 80px;
  border-radius: 50%;
} */

/* .nav-links {
  flex-wrap: 1;
  text-align: right;
} */

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 75px;
  font-family: Phenomena;
  color: #fff;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: #fff;
}

.hero-btn2 {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 10px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.hero-btn:hover {
  border: 1px solid #fff;
  background: #0d6efd;
  transition: 2s;
  color: #fff;
}
.hero-btn2:hover {
  border: 1px solid #fff;
  background: #0d6efd;
  transition: 1s;
  color: #fff;
}

nav .fa {
  display: none;
}

/* Responsive Navbar */
/* @media(max-width: 700px) {
  .text-box h1 {
    font-size: 50px;
    font-family: Phenomena;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: #0d6efd;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 10;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }

} */

/* Deskripsi */
.row {
  padding-top: 20px;
}

h1 {
  font-family: Phenomena;
  color: #20c997;
  font-weight: 600;
  font-size: 70px;
}

.col p {
  font-family: Futura Bk BT;
  font-weight: 400;
  font-size: 20px;
}

/* Responsive Deskripsi */
@media(max-width: 700px) {
  h1 {
    font-family: Phenomena;
    color: #20c997;
    font-weight: 600;
    font-size: 30px;
  }

  .col p {
    font-family: Futura Bk BT;
    font-weight: 400;
    font-size: 15px;
  }
}

/* Tim */
.tim img {
  width: 250px;
  border: 10px solid #cccccc;
}

a.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #333;
  line-height: 40px;
}

.Tim {
  font-size: 50px;
  font-family: Phenomena;
  font-weight: 500;
  color: #20c997;
}

/*----- Postingan -----*/
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.course-col1 p {
  color: #777;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
}

.row1 {
  padding-top: 20px;
  /* display: flex; */
  justify-content: space-between;
}

.course-col1 {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.course-col1 h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col1:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* Responsive Postingan */
@media(max-width: 700px) {
  .row1 {
    flex-direction: column;
  }
}

/* Gedung */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.campus-col {
  flex-basis: 33%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.campus-col img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(131, 129, 129, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 0;
  transform: translateX(-50x);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 39%;
  opacity: 1;
}

/* Fasilitas */
.fasilitas {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  display: block;
}

.fasilitas-col {
  flex-basis: 33.3%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.fasilitas-col img {
  width: 100%;
  border-radius: 10px;
}

.fasilitas-col p {
  padding: 0;
  font-size: 12px;
}

.fasilitas-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
  font-size: medium;
}

/* call to action */
.cta {
  margin: 100px auto;
  width: 90%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/banner2.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
  font-family: Futura Bk Bt;
}

/* Responsive call to action */
@media(max-width: 700px) {
  .cta h1 {
    font-size: medium;
  }
}

/* Footer */
.container-footer {
  max-width: 1170px;
  margin: auto;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-col ul {
  list-style: none;
}

.footer {
  background-color: rgb(202, 194, 194);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #0d6efd;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-weight: 300;
  color: #000000;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #0d6efd;
  padding-left: 8px;
}

.footer-col .social-media a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 10px 10px 0;
  transition: all 0.5s ease;
}

.footer-col .social-media a:hover {
  color: rgba(80, 82, 243, 0.8);
  background-color: rgba(236, 236, 236, 0.8);
}

.fixed-footer {
  width: 100%;
  position: relative;
  background: #ffffff;
  margin: 0 10px 10px 0;
  padding: 10px 0;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.fixed-footer {
  bottom: 0;
}

/* responsive Footer*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}